azureml-core
azureml-opendatasets
python-dotenv
ipykernel
transformers==4.37.2
datasets==2.15.0
torch
huggingface_hub
fsspec
beautifulsoup4
onnxruntime
onnx
click==8.1.7
flask==3.0.3
uvicorn==0.35.0
fastapi==0.116.1
